@using BuildingSiteManagementWebApp.Common.Constants
@{
    ViewData["Title"] = @TextsLang.HomePage;
}

<div class="text-center">
    <h1 class="display-4">@TextsLang.Welcome</h1>
    <p>Giriş sayfasında yer alacaklar</p>
    <p>Yaklaşan ödemeler</p>
    <p>Geciken ödemeler</p>
    <p>Yaklaşan Tahsilatlar</p>
    <p>Geciken Tahsilatlar</p>
    <p>Gelen Mesajlar</p>
</div>
