@using BuildingSiteManagementWebApp.Common.Constants
@{
    ViewData["Title"] = @TextsLang.HomePage;
}

<div class="text-center">
    <h1 class="display-4">@TextsLang.Welcome</h1>
    <p>Giriş sayfasında yer alacaklar burada görünür.</p>
</div>
